@layer reset {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}

@layer layout {
    .container {
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}